*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}

ul, ol li{
    list-style: none;
}

a{
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
    padding-left:10px;
    padding-right: 10px;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header{
    background-color: #0A0A0A;
    padding: 32px 0px;
}


.menu{
    display: flex;
}
.menu li{
    margin-right: 30px;
}

.menu li:last-child{
    margin-right: 0px;
}


.menu li a, .phone{
    color: #717171;
    font-size: 24px;
}

.logo{
    width: 15%;
}


@media screen and (max-width: 500px){
    header{
        /* flex-wrap: wrap; */
        /* font-size: 1px; */
    }

    .header-inner{
        flex-direction: column;
        width: 100hw;
        flex-wrap: wrap;
        font-size: 10px;
    }

    .menu{
        flex-wrap: wrap;
        font-weight: 400;
    }

    .logo{
        order:-1;
        margin-bottom: 10px;
    }
    .phone{
    }

    .container{
        max-width: 100%;
    }


}