*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: black;
    /* padding: 32px 0px; */
    padding-top: 32px;
    padding-bottom: 32px;
}
.container{
    max-width: 1200px;
    color: #717171;
    /* padding: 0 10px; */
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
}

.header-menu__list{
    display: flex;
}

.header-menu__list li{
    margin-right: 30px;
}

.header-menu__list li:last-child{
    margin-right: 0;
}

.header-menu__list li, a,
.header-phone {
    color: #717171;
    font-family: "Inter", 'sans-serif';
    font-size: 24px;
    font-weight: 400;
}

.first-section{
    width: 1920px;
    height: 980px;
    flex-shrink: 0;
    background: #F5F5F7;
}

.first-section h1{
    color: var(--PURPLE, #490E84);
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-bottom: 40px;
}

.first-section__container{
    /* margin-top: 71px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.first-section__container button{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #490E84;
    border: none;
    border-radius: 30px;
    width: 350px;
    height: 70px;
    margin-top: 25px;
}
