* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}

ul,
ol,
li {
  list-style: none;
}

body {
  font-family: "Montserrat";
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  padding: 16px 0;
  
  hr{
    background: 1px solid #547147;
    margin-top: 16px;
  }
}

.header-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  nav {
    ul {
        flex-wrap: wrap;
      display: flex;
      gap: 40px;
    }
  }
}

.header-contacts {
  display: flex;
  align-items: center;
  gap: 30px;
}

.social-media {
    flex-wrap: wrap;
  display: flex;
  gap: 20px;
}
