*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flexbox-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 500px;
    gap: 20px;
}

.flexbox-container:hover{
    opacity: 100%;
    margin: 10px;
}



.flexbox-item{

    --column: 4;
    --gap: 20px;

    background-color: #333;
    color: aliceblue;
    border: 1px dashed yellow;
    padding: 20px;
    /* width: 25%; */
    width: calc(
    (100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns))
  );
  display: flex;
  align-items: center;
  font-size: 50px;
}