$primary-font: "Futura PT";
// $primary-font: "FuturaMediumC";
// $primary-font: "FuturaBookC";
// $primary-font: "FuturaLightC";
// $primary-font: "FuturaLightCItalic";
$secondary-font: "Montseratt";
$primary-color: #4c3d74;
$secondary-color: #ffffff;
$button-color: #a387c4;
$footer-color: #251933;
$hover-color: $button-color;


$title-lg-fs: 50px;
$title-md-fs: 30px;
$title-sm-fs: 20px;

$text-lg-fs: 20px;
$text-md-fs: 16px;
$text-sm-fs: 14px;

// $subtitle-lg-fs: $title-lg-fs-