*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block {
    width: 400px;
    height: 400px;
    color: white;
    background-color: gray;
    font-size: 50px;
}

.padding {
    padding: 20px;
}

.margin {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 40px;
    margin-bottom: 30px;
}

.width {
    width: 50%;
}

.owerflow{
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: visible;
}