.bg-color{
    background-color: rgb(250, 212, 0);
}   

*{
    background-color: black;
    color: white;
}


.bg-img{
    border: 1px solid rgb(250, 212, 0);
    margin-top: 50px;
    background-image: url("../img/images.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-size{
    width: 200px;
    height: 200px;
    transition-duration: 200ms;
}
.bg-size:hover{
    width: 300px;
    height: 300px;
    margin-left: 10px;
}

