.static{
    position: static;
}

.relative{
    position: relative;
}

.fixed{
    width: 200px;
    height: 200px;
    background-color: aqua;
    padding: 20px;
    position: fixed;

}

.absolute{
    width: 500px;
    height: 500px;
    background-color:bisque;
    position: relative;
}

.block{
    width: 200px;
    height: 200px;
    background-color: yellow;
    color: red;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
    
}

.block2{
    background-color: red;
    color: greenyellow;
    text-align: center;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 21px;
    bottom: 50px;
}